.content-box {
  z-index: 3;
  position: relative;
  max-width: 51.8125rem;
  padding: 1rem 1.8rem 0.875rem;
  box-shadow: 0.625rem 0.625rem 0.625rem rgba($secondary, 0.2);
  background-color: #fff;

  &__text {
    position: relative;
    z-index: 1;

    &__title {
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1rem;
        height: 0.0625rem;
        width: 3.6875rem;
        background-color: $blue;
      }
    }

    &__body {
      max-width: 35rem;
      margin-bottom: 2rem;
    }
  }
}

// 900px
@media (min-width: 56.25em) {
  .content-box {
    padding: 4rem 10.3125rem 3.75rem 4.3125rem;
  }
}

// 1000px
@media (min-width: 62.5rem) {
  .content-box {
    padding: 4rem 12.313rem 3.75rem 4.3125rem;
  }
}
