.image {
  width: 100%;

  &__devs {
    position: relative;
    max-width: 29rem;
    z-index: 2;
  }

  &__hex {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 8.1875rem;
    z-index: 0;
  }
}

// 900px
@media (min-width: 56.25em) {
  .image {
    &__hex {
      max-width: 13rem;
    }
  }
}
